<section class="container">
  <div class="article-container">
    <div class="artcile-title">
      <h2><%= @article.title %></h2>
    </div>

    <div class="artcile-body">
      <%= @article.body %>
      <p class="article-created-by">
         <%= "created by #{@article.user.email}" %>
      </p>
      <p class="article-time">
       on <%= local_time(@article.created_at) %>
      </p>
    </div>
    <div class="article-actions">
      <%= link_to 'Delete Article | ', @article, method: :delete, data: {confirm: 'Are you sure want to delete'} if user_signed_in? and @article.user == current_user %>
      <%= link_to 'Edit | ', edit_article_path(@article) if user_signed_in? and @article.user == current_user %>
      <%= link_to 'Back', articles_path %>
    </div>
  </div>
</section>